@keyframes showMe4 {

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}


.transitionMe {

}

.projectsWrapper{

}

#projectsHeader{
  width: 95%;
  height: 17%;
  left: 2%;
  top: 4%;
  margin: 0 auto;
  border: 1px solid purple;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

#projectsSection {
  width: 95%;
  height: 75%;
  left: 2%;
  top: 23%;
  border: 1px solid purple;
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
}

#projectsHeader button {
  width: 29%;
  height: 48%;
  border: 1px solid purple;
  background-color: black;
  color: white;
  font-size: 2.5rem;
}

.projectsItem {
  color: white;
  flex: 1 2 48%;
  text-align: center;
  font-size: 1.5rem;
  height: 15em;
  text-decoration: underline;
  text-shadow: 4px 4px 12px pink;
  margin-top: 4%;
}

.projectsPen {
  color: white;
  flex: 1 1 52%;
  text-align: center;
  font-size: 1.5rem;
  height: 15em;
  text-decoration: underline;
  text-shadow: 4px 4px 12px pink;
  margin-top: 4%;
}

#projectSection1 {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

#projectSection2 {
  display: none;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

#projectSection3 {
  display: none;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

.imageHolderProjects {
  border: 4px solid rebeccapurple;
  box-shadow: 4px 1px mediumvioletred;
  transition: all 2s;
  border-radius: 5%;
}

.imageHolderProjects:hover {
  border: 4px solid mediumvioletred;
  box-shadow: 15px 15px 15px rebeccapurple;
  transition: all 2s;
  border-radius: 0%;
}