.app {
  background-color: rgba(0,0,0,.01);
  width: 100%;
  height: 25%;
  position: inherit;
}

body {
  background-color: white;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#battleArea {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}