@keyframes showMe {

  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate1 {

  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(40deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate2 {

  0% {
    top: 9%;
    right: 24%;
  }

  25% {
    top: 5%;
    right: 5%;
  }

  50% {
    top: 27%;
    right: 11%;
  }

  100% {
    top: 9%;
    right: 24%;
  }
}


@keyframes up1 {
  0% {
    bottom: -45%;
    right: 11%;
  }

  100% {
    bottom: 18%;
    right: 11%;
  }
}

@keyframes up2 {
  0% {
    bottom: -45%;
    right: 24%;
  }

  100% {
    bottom: 30%;
    right: 1%;
  }
}

@keyframes up3 {
  0% {
    bottom: -45%;
    right: 41%;
  }

  100% {
    bottom: 6%;
    right: 1%;
  }
}

@keyframes down1 {
  0% {
    bottom: -25%;
    left: 16%;
  }

  100% {
    bottom: 1%;
    left: 16%;
  }
}

@keyframes down2 {
  0% {
    bottom: -29%;
    left: 4%;
  }

  100% {
    bottom: 19%;
    left: 4%;
  }
}

@keyframes down3 {
  0% {
    bottom: -39%;
    left: 23%;
  }

  100% {
    bottom: 23%;
    left: 23%;
  }
}

@keyframes aboutCubey1 {
  0% {
    top: -39%;
    left: 23%;
    opacity: 0.25;
    transform: rotate(50deg);
  }

  100% {
    top: 38%;
    left: -42%;
    opacity: .85;
    transform: rotate(360deg);
  }
}

@keyframes aboutCubey2 {
  0% {
    top: -39%;
    right: 23%;
    opacity: 0.55;
    transform: rotate(-50deg);
  }

  100% {
    top: 38%;
    right: -42%;
    opacity: .85;
    transform: rotate(-360deg);
  }
}

#about1, #about2, #about3 {
  border: 3px solid rgb(15,12,226);
  width: 40%;
  margin: 3%;
  border-radius: 25%;
  height: 40%;
  box-shadow: 1px 1px 10px rgb(22,132,124);
}

#aboutMain p {
  color: white;
  width: 100%;
  font-family: 'Fira Sans Condensed', sans-serif;
  padding: 1% 9% 1% 10%;
  border-radius: 5%;
  border: 3px solid deepskyblue;
  margin: -9% -9% 0% -9%;
  background-color: rgba(0,0,0,.85);
  text-align: center;
  font-size: 1.45rem;
  box-shadow: inset 0px 0px 11px deepskyblue, 0px 7px 16px rgb(0, 255, 255);
}

#aboutMain h2 {
  color: white;
  font-family: 'Sigmar One', sans-serif;
  text-decoration: underline;
  text-decoration-color: deepskyblue;
  text-decoration-style: double;
  font-size: 2rem;
}

#about1 {
  top: 2%;
  left: 2%;
}

#about2 {
  top: 50%;
  left: 9%;
}

#about3 {
  top: 24%;
  left: 55%;
}

#aboutMain {
  position: relative;
  padding-top: 1%;
  text-align: center;
  width: 42%;
  height: 50%;
  margin: 0 auto;
}

#aboutPic1, #aboutPic2, #aboutPic3 {
  width: 42%;
  height: 10%;
  position: absolute;
  border: 3px solid rgb(22,132,124);
  box-shadow: 0px 5px 1px rgb(15,12,226);
  transition: all 2s;
}

#aboutPic4, #aboutPic5, #aboutPic6 {
  width: 20%;
  height: 20%;
  position: absolute;
  border: 3px solid rgb(22,132,124);
  box-shadow: 0px 5px 1px rgb(15,12,226);
  transition: all 2s;
}

#aboutPic1:hover, #aboutPic2:hover, #aboutPic3:hover, #aboutPic4:hover, #aboutPic5:hover, #aboutPic6:hover {
  border: 3px solid rgb(15,12,226);
  box-shadow: 15px 15px 15px rgb(22,132,124);
  z-index: 2;
}

#aboutPic1 {
  bottom: -37%;
  right: 11%;
  animation: up1 2s linear 1;
  animation-delay: .2s;
  animation-fill-mode: forwards;
}

#aboutPic2 {
  bottom: -29%;
  right: 24%;
  animation: up2 2s linear 1;
  animation-delay: .4s;
  animation-fill-mode: forwards;
}

#aboutPic3 {
  bottom: -45%;
  right: 5%;
  animation: up3 2s linear 1;
  animation-delay: .6s;
  animation-fill-mode: forwards;
}

#aboutPic4 {
  bottom: -45%;
  left: 16%;
  animation: down1 2s linear 1;
  animation-delay: .1s;
  animation-fill-mode: forwards;
}

#aboutPic5 {
  bottom: -45%;
  left: 4%;
  animation: down2 2s linear 1;
  animation-delay: .3s;
  animation-fill-mode: forwards;
}

#aboutPic6 {
  bottom: -45%;
  left: 23%;
  animation: down3 2s linear 1;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.aboutContainer {
  animation: showMe 8s linear 1;
  animation-fill-mode: forwards;
}

.aboutContainer p {
  animation: showMe 10s linear 1;
  animation-fill-mode: forwards;
}

.aboutCubey {
  width: 45%;
  position: absolute;
}

#aboutCubey1 {
  top: -38%;
  left: -42%;
  animation: aboutCubey1 2s ease-out;
  animation-fill-mode: forwards;
}

#aboutCubey2 {
  top: -38%;
  right: -42%;
  animation: aboutCubey2 2.25s ease-in;
  animation-fill-mode: forwards;
}

/**
*
* RESPONSIVE
*
**/

@media only screen and (max-width: 500px) {
  #aboutMain p {
    font-size: 1rem;
  }

  #aboutMain h2 {
    font-size: 1.15rem;
  }

  #aboutPic4, #aboutPic5, #aboutPic6 {
    width: 21%;
    height: 12%;
  }
}

@media only screen and (min-width: 500px) {

  #aboutMain p {
    font-size: 1.15rem;
  }

  #aboutMain h2 {
    font-size: 1.45rem;
  }

  #aboutPic4, #aboutPic5, #aboutPic6 {
    width: 21%;
    height: 17%;
  }

}

@media only screen and (min-width: 768px) {

  #aboutMain h2 {
    font-size: 2rem;
  }

  #aboutPic4, #aboutPic5, #aboutPic6 {
    width: 21%;
    height: 17%;
  }
}

@media only screen and (min-width: 992px) {

  #aboutMain h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1200px) {

}