@keyframes showMe {

  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate1 {

  0% {
    top: 27%;
    right: 11%;
  }

  25% {
    top: 9%;
    right: 24%;
  }

  50% {
    top: 5%;
    right: 5%;
  }

  100% {
    top: 27%;
    right: 11%;
  }
}

@keyframes rotate2 {

  0% {
    top: 9%;
    right: 24%;
  }

  25% {
    top: 5%;
    right: 5%;
  }

  50% {
    top: 27%;
    right: 11%;
  }

  100% {
    top: 9%;
    right: 24%;
  }
}

@keyframes rotate3 {

  0% {
    top: 5%;
    right: 5%;
  }

  25% {
    top: 27%;
    right: 11%;
  }

  50% {
    top: 9%;
    right: 24%;
  }

  100% {
    top: 5%;
    right: 5%;
  }
}

@keyframes up1 {
  0% {
    top: -45%;
    right: 11%;
  }

  100% {
    top: 27%;
    right: 11%;
  }
}

@keyframes up2 {
  0% {
    top: -45%;
    right: 24%;
  }

  100% {
    top: 9%;
    right: 24%;
  }
}

@keyframes up3 {
  0% {
    top: -45%;
    right: 5%;
  }

  100% {
    top: 5%;
    right: 5%;
  }
}

@keyframes down1 {
  0% {
    bottom: -25%;
    left: 16%;
  }

  100% {
    bottom: 1%;
    left: 16%;
  }
}

@keyframes down2 {
  0% {
    bottom: -29%;
    left: 4%;
  }

  100% {
    bottom: 19%;
    left: 4%;
  }
}

@keyframes down3 {
  0% {
    bottom: -39%;
    left: 23%;
  }

  100% {
    bottom: 23%;
    left: 23%;
  }
}

#about1, #about2, #about3 {
  border: 3px solid red;
  position: relative;
  width: 41%;
  height: 40%;
}

#aboutMain p {
  color: white;
  width: 90%;
  padding-top: 10%;
  text-align: center;
  font-size: 1.2rem;
  margin: 0 auto;
}

#about1 {
  top: 2%;
  left: 2%;
}

#about2 {
  top: 50%;
  left: 9%;
}

#about3 {
  top: 24%;
  left: 55%;
}

#aboutMain {
  border: 3px solid red;
  position: absolute;
  top: 3%;
  left: 3%;
  width: 45%;
  height: 50%;
}

#aboutPic1, #aboutPic2, #aboutPic3,
#aboutPic4, #aboutPic5, #aboutPic6 {
  width: 20%;
  height: 20%;
  position: absolute;
  border: 3px solid red;
}

#aboutPic1 {
  top: -27%;
  right: 11%;
  animation: up1 2s linear 1;
  animation-delay: .2s;
  animation-fill-mode: forwards;
}

#aboutPic2 {
  top: -29%;
  right: 24%;
  animation: up2 2s linear 1;
  animation-delay: .4s;
  animation-fill-mode: forwards;
}

#aboutPic3 {
  top: -45%;
  right: 5%;
  animation: up3 2s linear 1;
  animation-delay: .6s;
  animation-fill-mode: forwards;
}

#aboutPic4 {
  bottom: -45%;
  left: 16%;
  animation: down1 2s linear 1;
  animation-delay: .1s;
  animation-fill-mode: forwards;
}

#aboutPic5 {
  bottom: -45%;
  left: 4%;
  animation: down2 2s linear 1;
  animation-delay: .3s;
  animation-fill-mode: forwards;
}

#aboutPic6 {
  bottom: -45%;
  left: 23%;
  animation: down3 2s linear 1;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.aboutContainer {
  animation: showMe 8s linear 1;
  animation-fill-mode: forwards;
}

.aboutContainer p {
  animation: showMe 10s linear 1;
  animation-fill-mode: forwards;
}