@keyframes showMe5 {

  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.transitionMe {

}

.gamesContainer {
  display: flex;
}

#gamesTop, #gamesBottom {
  position: absolute;
  width: 97%;
}

#gamesTop {
  top: 3%;
  left: 1%;
  height: 56%;
}

#gamesBottom {
  top: 55%;
  left: 1%;
  height: 43%;
}

.gameSectionGames {
  width: 50%;
  border: 1px solid red;
}

.gameSectionArt {
  width: 50%;
  border: 1px solid red;
}

#gamesTop h2 {
  text-align: center;
  position: relative;
  top: -4%;
  border: 5px solid red;
  width: 80%;
  color: white;
  background-color: black;
  margin: 0 auto;
}

.gameSectionName h2 {
  text-align: center;
  position: relative;
  top: -7%;
  z-index: 1;
  border: 5px solid red;
  width: 50%;
  color: white;
  background-color: black;
  margin: 0 auto;
}

.gameSectionDescription h2 {
  text-align: center;
  position: relative;
  top: -7%;
  z-index: 1;
  border: 5px solid red;
  width: 50%;
  color: white;
  background-color: black;
  margin: 0 auto;
}

.gameSectionName {
  width: 50%;
}

.gameSectionDescription {
  width: 50%;
}

.gameImageMain {
  width: 38%;
  border: 1px solid red;
  height: 77%;
  position: absolute;
  top: 20%;
  left: 1%;
}

.gameImageDescription {
  width: 58%;
  border: 1px solid red;
  height: 77%;
  position: absolute;
  top: 20%;
  left: 41%;
}