@keyframes showMe5 {

  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.transitionMe {

}

.gamesContainer {
  display: flex;
}

#gamesTop, #gamesBottom {
  position: absolute;
  width: 97%;
}

#gamesTop, #gamesBottom {
  top: 3%;
  left: 1%;
  height: 95%;
}

#gamesTop {
  display: inherit;
}

#gamesBottom {
  border: 2px solid purple;
  z-index: -1;
}

.gameSectionGames, .gameSectionArt {
  width: 50%;
  overflow: scroll;
  scrollbar-color: red red;
  -webkit-scrollbar-color: red red;
  overflow-x: hidden;
}

#gamesTop h2 {
  text-align: center;
  position: fixed;
  bottom: 94%;
  border: 5px solid red;
  width: 36%;
  z-index: -1;
  color: white;
  background-color: black;
  margin: 0 auto;
}

.gameSectionName h2 {
  text-align: center;
  position: relative;
  top: -7%;
  z-index: 1;
  border: 5px solid red;
  width: 50%;
  color: white;
  background-color: black;
  margin: 0 auto;
}

.gameSectionDescription h2 {
  text-align: center;
  position: relative;
  top: -7%;
  z-index: 1;
  border: 5px solid red;
  width: 50%;
  color: white;
  background-color: black;
  margin: 0 auto;
}

.gameSectionName {
  width: 50%;
}

.gameSectionDescription {
  width: 50%;
}

.gameImageMain {
  width: 48%;
  border: 1px solid red;
  height: 99%;
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 2;
}

.gameImageDescription {
  width: 48%;
  border: 1px solid red;
  height: 99%;
  position: absolute;
  top: 1%;
  left: 51%;
  z-index: 2;
}

#gamesHeader{
  width: 95%;
  height: 17%;
  left: 2%;
  top: 4%;
  margin: 0 auto;
  border: 1px solid purple;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

#gamesSection {
  width: 95%;
  height: 75%;
  left: 2%;
  top: 23%;
  border: 1px solid purple;
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
}

#gamesHeader button {
  width: 29%;
  height: 48%;
  border: 1px solid purple;
  background-color: black;
  color: white;
  font-size: 2.5rem;
}

.gamesItemGames {
  color: white;
  flex: 1 1 50%;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
  text-shadow: 4px 4px 12px pink;
  margin-top: 4%;
}

.gamesItemArt {
  color: white;
  flex: 1 1 33%;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
  text-shadow: 4px 4px 12px pink;
  margin-top: 4%;
}

.gamesPen {
  color: white;
  flex: 1 1 50%;
  text-align: center;
  height: 22rem;
  font-size: 1.5rem;
  text-decoration: underline;
  text-shadow: 4px 4px 12px pink;
  margin-top: 6%;
}

#gamesection1 {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

#gamesection2 {
  display: none;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

#gamesection3 {
  display: none;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

.imageHoldergames {
  border: 4px solid rgb(10, 218, 121);
  box-shadow: 4px 1px rgb(6, 70, 56);
  transition: all 2s;
  border-radius: 5%;
}

.imageHoldergames:hover {
  border: 4px solid rgb(6, 70, 56);
  box-shadow: 15px 15px 15px rgb(10, 218, 121);
  transition: all 2s;
  border-radius: 0%;
}

.gameImageGames, .gameImageArt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.95);
}

#gameImage, #gameImage2 {
  width: 100%;
}