@keyframes reset1 {

  0% {
    top: 2%;
    left: 2%;
    width: 21%;
    height: 95%;
  }

  100% {
    top: 2%;
    left: 1%;
    width: 20%;
    height: 16%;
  }
}


@keyframes reset2 {

  0% {
    top: 9%;
    left: 21%;
    width: 21%;
    height: 95%;
  }

  100% {
    top: 19%;
    left: 1%;
    width: 20%;
    height: 16%;
  }
}

@keyframes reset3 {

  0% {
    top: 9%;
    left: 57%;
    width: 21%;
    height: 95%;
  }

  100% {
    top: 36%;
    left: 1%;
    width: 20%;
    height: 16%;
  }
}

@keyframes reset4 {

  0% {
    top: 2%;
    left: 76%;
    width: 21%;
    height: 95%;
  }

  100% {
    top: 53%;
    left: 1%;
    width: 20%;
    height: 45%;
  }
}

@keyframes clipImageFun1 {

  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  15% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  15% {
    clip-path: polygon(0 0, 84% 0, 83% 100%, 0% 100%);
  }

  55% {
    clip-path: polygon(0 0, 17% 0, 16% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}


@keyframes aboutBG {

  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: -3500% -2500%;
  }
}

.reset1 {
  animation: reset1 3s linear;
  animation-fill-mode: forwards;
}

.reset2 {
  animation: reset2 2.8s linear;
  animation-fill-mode: forwards;
}

.reset3 {
  animation: reset3 2.6s linear;
  animation-fill-mode: forwards;
}

.reset4 {
  animation: reset4 2.4s linear;
  animation-fill-mode: forwards;
}

.resetM1 {
  animation: resetM1 2.2s linear;
  animation-fill-mode: forwards;
}

.resetM2 {
  animation: resetM2 2s linear;
  animation-fill-mode: forwards;
}

.menuSelect {
  cursor: pointer;
}

.aboutMenu1, .gamesMenu1, .projectsMenu1, .hobbiesMenu1 {
  height: 91%;
  margin-top: 4%;
  background-image: url('../Header/aboutBG1.png');
}

.aboutMenu1:hover, .gamesMenu1:hover, .projectsMenu1:hover, .hobbiesMenu1:hover{
  animation: aboutBG 15s linear infinite;
  animation-fill-mode: both;
}

.aboutMenu1Pic {

}

.aboutMenu2 {
  border: 1px solid red;
  height: 20%;
}

.aboutMenu3 {
  border: 1px solid red;
  height: 35%;
}