@keyframes reset1 {

  0% {
    transition: all 1s;
    top: 2%;
    left: 2%;
  }

  100% {
    transition: all 1s;
    top: 2%;
    left: 1%;
  }
}


@keyframes reset2 {

  0% {
    top: 9%;
    left: 21%;
  }

  100% {
    top: 19%;
    left: 1%;
  }
}

@keyframes reset3 {

  0% {
    top: 9%;
    left: 57%;
  }

  100% {
    top: 36%;
    left: 1%;
  }
}

@keyframes reset4 {

  0% {
    top: 2%;
    left: 76%;
  }

  100% {
    top: 53%;
    left: 1%;
  }
}

@keyframes resetM1 {

  0% {
    top: 19%;
    left: 15%;
  }

  100% {
    top: 67%;
    left: 4%;
  }
}

@keyframes resetM2 {

  0% {
    top: 19%;
    left: 78%;
  }

  100% {
    top: 67%;
    left: 8%;
  }
}

.reset1 {
  animation: reset1 3s linear;
  animation-fill-mode: forwards;
}

.reset2 {
  animation: reset2 2.8s linear;
  animation-fill-mode: forwards;
}

.reset3 {
  animation: reset3 2.6s linear;
  animation-fill-mode: forwards;
}

.reset4 {
  animation: reset4 2.4s linear;
  animation-fill-mode: forwards;
}

.resetM1 {
  animation: resetM1 2.2s linear;
  animation-fill-mode: forwards;
}

.resetM2 {
  animation: resetM2 2s linear;
  animation-fill-mode: forwards;
}

.menuSelect {
  cursor: pointer;
}
